@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?821n78');
  src:  url('fonts/icomoon.eot?821n78#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?821n78') format('truetype'),
    url('fonts/icomoon.woff?821n78') format('woff'),
    url('fonts/icomoon.svg?821n78#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-locked:before {
  content: "\e90c";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-laptop:before {
  content: "\e90b";
}
.icon-document-file-sql:before {
  content: "\e903";
}
.icon-php-elephant:before {
  content: "\e904";
}
.icon-git:before {
  content: "\e909";
  color: #f05032;
}
.icon-bootstrap:before {
  content: "\e90a";
  color: #563d7c;
}
.icon-javascript:before {
  content: "\e905";
  color: #f7df1e;
}
.icon-css3:before {
  content: "\e906";
  color: #1572b6;
}
.icon-html5:before {
  content: "\e907";
  color: #e34f26;
}
.icon-mysql:before {
  content: "\e908";
  color: #4479a1;
}
.icon-sass:before {
  content: "\e902";
  color: #c69;
}
.icon-node-dot-js:before {
  content: "\e901";
  color: #393;
}
.icon-reactos:before {
  content: "\e900";
  color: #08c;
}
